{% extends 'main.html' %} {% block content %}

<style>
  .home-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 4rem;
  }
</style>

<div class="home-container">
  <div class="topic-container">
    <h1>Topic</h1>
    <a href="{% url 'home' %}" ><h2>All</h2></a>
    {% for topic in topics %}
    <a href="{% url 'home' %}?q={{topic.name}}">
      <h2>{{ topic.name }}</h2>
    </a>
    {% endfor %}
  </div>

  <div class="room-container">
    <h1>Rooms</h1>
    <a href="/create-room">Create Room</a>

    {% for room in rooms %}
    <div>
      <span> @{{ room.host }} </span>
      <h2>
        {{ room.id }} -- <a href="room/{{ room.id }}"> {{ room.name }} </a>
      </h2>
      <a href="{% url 'update-room' room.id %}"> Edit </a>
      <a href="{% url 'delete-room' room.id %}"> Delete Room </a>
    </div>

    {% endfor %}
  </div>
</div>

{% endblock content %}
